{{#discovery-categories refresh=(action "refresh")}}

  {{component categoryPageStyle
              categories=model.categories
              parentCategories=model.parentCategories
              subCategories=model.subCategories
              latestTopicOnly=latestTopicOnly
              topics=model.topics}}

{{/discovery-categories}}
