{{#d-section class="navigation-container"}}
  {{add-category-tag-classes category=category}}

  <section class="category-heading">
      {{workspaces-nav isParent=isParent showCategoryEdit=showCategoryEdit isCategory=isCategory categories=categories category=category noSubcategories=noSubcategories}}
      {{plugin-outlet name="category-heading" args=(hash category=category)}}
  </section>
  {{#unless isParent}}
  {{isParent}}
    <div class="category-navigation">
      {{d-navigation
        category=category
        filterMode=filterMode
        noSubcategories=noSubcategories
        canCreateTopic=canCreateTopic
        createTopic=(route-action "createTopic")
        createTopicDisabled=cannotCreateTopicOnCategory
        hasDraft=draft
        editCategory=(route-action "editCategory" category)}}

      {{plugin-outlet name="category-navigation" args=(hash category=category)}}
    </div>
  {{/unless}}
{{/d-section}}
