
{{#if showLoginButton}}
  <div class = "img-container">
    <img  class = "background-img">
  </div>
{{/if}}

{{#d-section bodyClass=bodyClass class="{{#if showLoginButton 'static-login-section'}} container"}}
  {{#watch-read showLoginButton = showLoginButton action=(action "markFaqRead") path=model.path}}
    <div class="contents clearfix body-page">

      {{plugin-outlet name="above-static"}}

      {{html-safe model.html}}

      {{plugin-outlet name="below-static" tagName=""}}

      {{#if showSignupButton}}
        {{d-button action=(route-action "showCreateAccount") class="btn-primary sign-up-button" label="sign_up"}}
      {{/if}}

      {{#if showLoginButton}}
        {{d-button action=(route-action "showLogin") class="btn-primary login-button" icon="user" label="log_in"}}
      {{/if}}
    </div>
  {{/watch-read}}
{{/d-section}}
