
<div class ="row">
  <div class="workspaces">
    {{dashboard-workspace-list showTopics="true" categories=subCategories class="latest-topic-list"}}
  </div>

   <div class=" Account">
    {{dashboard-account categories=categories}}
  </div>
</div>
 <div class="categories">
    {{parent-categories-only categories=parentCategories showTopics="true"}}
  </div>
{{!-- <div class = "row">
 
  
  <div class="topics">
    {{categories-topic-list topics=topics filter="latest" class="latest-topic-list"}}
  </div>
</div> --}}