{{#dashboard-card name="workspaces" }}
      <table class="category-list {{if showTopics "with-topics"}}">
        <tbody aria-labelledby="categories-only-category">
          {{#each categories as |category|}}
            {{parent-category-row category=category showTopics=showTopics}}
          {{/each}}
        </tbody>
      </table>
{{/dashboard-card}}