{{#dashboard-card name="account" }}
<div class ="d-flex flex-column justify-content-center  align-content-center">
    <div class = "bold account-items"> This section will contain:</div>
    <div class = "bold account-items">- Account status</div>
    <div class = "bold account-items">- Peer invitations</div>
    <div class = "bold account-items">- Sign up for premium etc.</div>
</div>
{{/dashboard-card}}
