{{#if category }}
  <div id="category-about">
    {{d-editor value=category.about
               showLink=showInsertLinkButton
               tabindex="4"
               }}
  </div>

  <button class='btn btn-primary' data-category-url="/category/{{category.id}}/about" id='save-about-button'> Save </button>
  <button class='btn btn-primary' id='cancel-about-button'> Cancel </button>
  <button class='btn btn-primary' id='edit-about-button'> Edit </button>
{{/if}}
