{{#discovery-topics-list model=model refresh=(action "refresh") incomingCount=topicTrackingState.incomingCount as |discoveryTopicList|}}
  {{#if top}}
    <div class="top-lists">
      {{period-chooser period=period action=(action "changePeriod") fullDay=false}}
    </div>
  {{else}}
    {{#if topicTrackingState.hasIncoming}}
      <a href {{action "showInserted"}} class="alert alert-info clickable">
        {{count-i18n key="topic_count_" suffix=topicTrackingState.filter count=topicTrackingState.incomingCount}}
      </a>
    {{/if}}
  {{/if}}

  {{#if hasTopics}}
    {{topic-list
      highlightLastVisited=true
      showPosters=true
      hideCategory=model.hideCategory
      order=order
      ascending=ascending
      topics=model.topics
      expandGloballyPinned=expandGloballyPinned
      expandAllPinned=expandAllPinned
      scrollOnLoad=true
      onScroll=discoveryTopicList.saveScrollPosition
      category=category}}
  {{/if}}
{{/discovery-topics-list}}

<footer class="topic-list-bottom">
  {{conditional-loading-spinner condition=model.loadingMore}}
  {{#if allLoaded}}
    {{#if showDismissRead}}
      {{d-button
        class="btn-default dismiss-read"
        id="dismiss-topics"
        action=(action "dismissReadPosts")
        title="topics.bulk.dismiss_tooltip"
        label="topics.bulk.dismiss_button"}}
    {{/if}}
    {{#if showResetNew}}
      {{d-button
        class="btn-default dismiss-read"
        id="dismiss-new"
        action=(action "resetNew")
        icon="check"
        label="topics.bulk.dismiss_new"}}
    {{/if}}

    {{#footer-message education=footerEducation message=footerMessage}}
      {{#if latest}}
        {{#if canCreateTopicOnCategory}}
          {{i18n "topics.none.ready_to_create"}}
          <a href {{action "createTopic"}}>{{i18n "topic.suggest_create_topic"}}</a>
        {{/if}}
      {{else if top}}
        {{#link-to "discovery.categories"}}{{i18n "topic.browse_all_categories"}}{{/link-to}}, {{#link-to "discovery.latest"}}{{i18n "topic.view_latest_topics"}}{{/link-to}} {{i18n "or"}} {{i18n "filters.top.other_periods"}}
        {{top-period-buttons period=period action=(action "changePeriod")}}
      {{else}}
        {{#link-to "discovery.categories"}} {{i18n "topic.browse_all_categories"}}{{/link-to}} {{i18n "or"}} {{#link-to "discovery.latest"}}{{i18n "topic.view_latest_topics"}}{{/link-to}}
      {{/if}}
    {{/footer-message}}
  {{/if}}
</footer>
